.wpr-page.users {
  .p-dataview {
    .p-dataview-content {
      background-color: var(--surface-ground);
    }
  }

  .user {
    display: grid;
    grid-template-columns: 100px 1fr;
    align-items: center;
    cursor: pointer;

    .p-avatar {
      justify-self: center;
      align-self: start;
      transition: 0.4s all;
    }

    &:hover {
      .p-avatar {
        transform: scale(1.05);
      }
    }
  }
}